@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:lightskyblue;
  font-family: Anton;
}

.board{
  height: 500px;
  margin-left: 20px;
}

.card-outside{
  height: 150px;
  width: 120px;
  background: white;
  float: left;
  margin-left: 40px;
  margin-top: 20px;
  border-radius: 10px;

}

.card-inside{
  position: absolute;
  height: 100%;
  border-radius: 10px;
}

.front, .back{
 position: absolute;
 height: 100%;
 width: 100%;
 border-radius: 10px;
}

img{
  height: 150px;
  width: 180px;
}

#message{
  text-align: center;
  color: black;
  height: 80px;
  font-size: 40px;
  border: 1px solid  black;
  width: 500px;
  margin: 50px auto;
  background-color:white;
  border-radius: 10px;
}

#restart{
 display: flex;
 margin: 0 auto;;
 padding: 25px 50px;
 border-radius: 10px;
 color: black;
 background-color: white;
 font-family: Anton;
 font-size: 20px;
}

#restart:hover{
  background-color: crimson;
}